<br/>
<br/>
<h1>Editing Book</h1>
<hr/>
<br/>
<br/>
<%= render 'form', book: @book , class:"btn btn-dark"%>
<hr/>
<br/>
<br/>

<%= link_to 'Show', @book , class:"btn btn-dark"%> |
<%= link_to 'Back', books_path, class:"btn btn-dark" %>
